.nav_list {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav_item {
    display: inline-block;
}

.nav_item:not(:last-child) {
    margin-right: 10px;
}

.nav_link {
    display: inline-block;
    text-decoration: none;
}